<?xml version="1.0" ?>
<config>
    <modules>
        <BlueAcorn_MegaMenu>
            <version>0.4.0</version>
        </BlueAcorn_MegaMenu>
    </modules>
    <global>
        <resources>
            <blueacorn_megamenu_setup>
                <setup>
                    <module>BlueAcorn_MegaMenu</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </blueacorn_megamenu_setup>
            <blueacorn_megamenu_setup_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </blueacorn_megamenu_setup_write>
            <blueacorn_megamenu_setup_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </blueacorn_megamenu_setup_read>
        </resources>
        <models>
            <blueacorn_megamenu>
                <class>BlueAcorn_MegaMenu_Model</class>
                <resourceModel>blueacorn_megamenu_resource</resourceModel>
            </blueacorn_megamenu>
            <blueacorn_megamenu_resource>
                <class>BlueAcorn_MegaMenu_Model_Resource</class>
            </blueacorn_megamenu_resource>
            <catalog>
                <rewrite>
                    <observer>BlueAcorn_MegaMenu_Model_Observer</observer>
                </rewrite>
            </catalog>
        </models>
        <helpers>
            <blueacorn_megamenu>
                <class>BlueAcorn_MegaMenu_Helper</class>
            </blueacorn_megamenu>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <blueacorn_megamenu>
                    <file>blueacorn/megamenu.xml</file>
                </blueacorn_megamenu>
            </updates>
        </layout>
        <!-- Load category attributes for use in menu -->
        <category>
            <collection>
                <attributes>
                    <!-- Add Attribute Codes Below -->
                    <include_in_mega_menu />
                    <mega_menu_block />
                </attributes>
            </collection>
        </category>
    </frontend>
</config>